
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Puskesmas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="../static/css/master.css">
</head>
<body>
<div id="wrap">
	<h4 id="title">Chatbot Kesehatan</h4>
	<div id="result">
		<div class="you"><span>Hi!</span></div>
		<div class="bot"><span>Hello!</span></div>
	</div>
	<input type="text" name="message" id="message" placeholder="Type a message">
</div>

<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>